<div>
 <h3>Create New Notes</h3>
 <hr>
 <form action="">
  <div class="mb-3">
   <label for="" class="form-label">Title</label>
   <input type="text" class="form-control">
  </div>

  <div class="mb-3">
   <label for="" class="form-label">Content</label>
   <textarea type="text" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-action">
   <button class="btn btn-primary btn-sm" style="margin-right: 8px;">Save</button>
   <button class="btn btn-danger btn-sm" routerLink="/notes">Cancel</button>
  </div>
 </form>
</div>