<div>
 <a class="btn btn-primary btn-sm" routerLink="/notes/add">New Note</a>
 <table class="table">
  <thead>
   <tr>
    <td>ID</td>
    <td>Title</td>
    <td>Content</td>
    <td>Action</td>
   </tr>
  </thead>

  <tbody>
   <tr *ngFor="let note of notes">
    <td>{{ note._id }}</td>
    <td>{{ note.title }}</td>
    <td>{{ note.content }}</td>
    <td>
     <a class="btn btn-success btn-sm" routerLink="/notes/edit">Edit</a>
     <button class="btn btn-danger btn-sm" (click)="onDelete(note)" style="margin-left: 6px;">Delete</button>
    </td>
   </tr>
  </tbody>
 </table>
</div>